<link rel="stylesheet" href="/css/style.css" />
<nav>
  <div>
    <img src="/images/logo.jpg" alt="logo" />
  </div>

  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Posts</a>
    </li>
    <li>
      <a href="/api/v1/users/login">Login</a>
    </li>
    <li>
      <a href="/api/v1/users/register">Register</a>
    </li>
    <li>
      <a href="/api/v1/users/profile-page">Profile</a>
    </li>
    <li>
      <a href="#" class="create-post-btn">New Post</a>
    </li>
  </ul>
</nav>
